* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 100%;
  min-height: 100vh; }

header {
  background-color: #81d97e;
  width: auto;
  height: auto; }
  header nav {
    display: flex;
    justify-content: end; }

.logocoesp {
  width: 350px;
  height: 250px; }

nav a {
  font-weight: bolder;
  list-style: none;
  text-decoration: none;
  letter-spacing: 2px;
  word-spacing: 10px;
  font-size: 20px;
  color: black;
  margin: 10px; }

li :hover {
  background-color: white; }

main {
  width: auto;
  height: auto; }
  main p {
    font-size: 25px;
    margin: 10px;
    padding: 10px; }

h1 {
  font-size: 50px;
  margin: 10px;
  padding: 10px; }

.container {
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 20px;
  padding: 20px;
  align-content: space-between; }

.main-quienes-somos {
  margin: 5px;
  padding: 5px; }
  .main-quienes-somos h2 {
    font-size: 30px;
    justify-content: center;
    display: flex;
    padding: 10px; }

.galeria-texto {
  display: flex;
  justify-content: center;
  padding: 25px; }

.img-consultorio {
  margin: 5px;
  padding: 25px;
  justify-content: center; }
  .img-consultorio img {
    width: 450px;
    height: auto;
    justify-content: center;
    margin: 5px;
    padding: 25px;
    box-shadow: 11px 11px 19px -3px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 11px 11px 19px -3px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 11px 11px 19px -3px rgba(0, 0, 0, 0.73); }

.galeria-instituto {
  display: flex;
  justify-content: center;
  padding: 25px; }

.img-instituto img {
  width: 450px;
  height: auto;
  justify-content: center;
  padding: 25px;
  margin: 5px;
  box-shadow: 11px 11px 19px -3px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 11px 11px 19px -3px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 11px 11px 19px -3px rgba(0, 0, 0, 0.73); }

.container-card {
  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: space-around; }

.ortodoncia {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 25px; }

.container-video {
  display: grid;
  justify-content: center; }

.video-1 {
  width: 550px;
  height: auto;
  display: flex;
  margin: 15px; }

.video-2 {
  width: 550px;
  height: auto;
  display: flex;
  margin: 15px; }

.video-3 {
  width: 450px;
  height: auto;
  display: flex;
  margin: 15px; }

.practicas {
  display: flex;
  justify-content: center;
  padding: 25px; }

form {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 10px; }
  form .escribe {
    width: 250px;
    height: 50px; }

.boton {
  display: flex;
  justify-content: end;
  margin: 10px;
  padding: 25px; }

.respuesta {
  font-weight: bold;
  margin: 10px;
  padding: 25px; }

footer {
  width: auto;
  height: auto;
  background-color: #341ed4; }

.redes-sociales {
  list-style: none;
  text-decoration: none;
  display: flex;
  color: black;
  word-spacing: 2px;
  margin: 5px; }

.mapa li a {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: end;
  color: black;
  font-size: 20px;
  margin: 10px;
  font-weight: lighter; }

ul .mapa {
  display: flex;
  justify-content: end; }

@media (max-width: 992px) {
  header {
    display: grid;
    width: 992px;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    font-size: 20px; }
  li :hover {
    background-color: white; }
  .logocoesp {
    width: 450px;
    height: 400px; }
  main {
    display: grid;
    width: 992px;
    height: auto; }
    main p {
      width: auto; }
  .container {
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 3, 1fr;
    grid-template-areas: "card" "card" "card"; }
    .container div {
      width: 900px; }
    .container .card {
      width: 992px;
      display: grid;
      grid-template-columns: 2, 1fr grid-template-rows 2, 1fr;
      grid-template-areas: "card card" "card"; }
  .container-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 4, 1fr;
    grid-template-areas: "card-body" "card-body" "card-body" "card-body"; }
    .container-card div {
      width: 900px; }
  .card-img-top {
    width: 900px; }
  .container-video {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    grid-template-areas: "video-1" "video-2" "video-3"; }
  .video-1 {
    width: 900px;
    height: auto; }
  .video-2 {
    width: 900px;
    height: auto; }
  .video-3 {
    width: 900px;
    height: auto; }
  .img-consultorio {
    width: 900px;
    height: auto; }
    .img-consultorio img {
      width: 900px;
      height: auto;
      box-shadow: none; }
  .img-instituto {
    width: 900px;
    height: auto; }
    .img-instituto img {
      width: 900px;
      height: auto;
      box-shadow: none; }
  .formulario {
    width: 900px;
    height: auto;
    display: grid;
    padding: 50px; }
  footer {
    width: 992px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    font-size: 20px; }
    footer div {
      width: 992px;
      height: auto; } }

@media (max-width: 768px) {
  header {
    display: grid;
    width: 768px;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    font-size: 20px; }
  li :hover {
    background-color: white; }
  .logocoesp {
    width: 350px;
    height: 300px; }
  main {
    display: grid;
    width: 768px;
    height: auto; }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    grid-template-areas: "card" "card" "card"; }
    .container div {
      width: 768px; }
    .container .card {
      width: 768px;
      display: grid;
      grid-template-columns: 2, 1fr grid-template-rows 2, 1fr;
      grid-template-areas: "card card" "card"; }
  .container-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 4, 1fr;
    grid-template-areas: "card-body" "card-body" "card-body" "card-body"; }
    .container-card div {
      width: 700px; }
  .card-img-top {
    width: 700px; }
  .container-video {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    grid-template-areas: "video-1" "video-2" "video-3"; }
  .video-1 {
    width: 700px;
    height: auto; }
  .video-2 {
    width: 700px;
    height: auto; }
  .video-3 {
    width: 700px;
    height: auto; }
  .img-consultorio {
    width: 700px;
    height: auto; }
    .img-consultorio img {
      width: 700px;
      height: auto;
      box-shadow: none; }
  .img-instituto {
    width: 700px;
    height: auto; }
    .img-instituto img {
      width: 700px;
      height: auto;
      box-shadow: none; }
  .formulario {
    width: 700px;
    height: auto;
    display: grid;
    padding: 50px; }
  footer {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    font-size: 20px; }
    footer div {
      width: 768px;
      height: auto; } }
