@media (max-width: 768px){

    header{
        display: grid;
        width: 768px;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: (3, 1fr);
        font-size: 20px;
    }
    li :hover{
        background-color: white;
    }
    .logocoesp{
        width: 350px;
        height: 300px;
    }
    main{
        display: grid;
        width: 768px;
        height: auto;
    }
   .container{
        display: grid;
        grid-template-columns: (1fr);
        grid-template-rows: (3, 1fr);
        grid-template-areas: 
        "card"
        "card"
        "card"     
        ;
        div{
            width: 768px;
        }
      .card{
            width: 768px;
            display: grid;
            grid-template-columns: (2, 1fr)
            grid-template-rows (2, 1fr);
            grid-template-areas: 
            "card card"
            "card"
            ;
        }
        }
        .container-card{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: (4, 1fr);
            grid-template-areas: 
            "card-body"
            "card-body"
            "card-body"
            "card-body"
            ;
           div{
                width: 700px;
            }
            }
            .card-img-top{
                width: 700px;
            }
        .container-video{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: (3, 1fr);
            grid-template-areas: 
            "video-1"
            "video-2"
            "video-3"
            ;
        }
         .video-1{
            width: 700px;
            height: auto;
            }
            .video-2{
                width: 700px;
                height: auto;
            }
            .video-3{
                width: 700px;
                height: auto;
            }
            .img-consultorio{
                width: 700px;
                height: auto;
                img{
                    width: 700px;
                    height: auto;
                    box-shadow: none;
                }
            }
            .img-instituto{
                width: 700px;
                height: auto;
                img{
                    width: 700px;
                    height: auto;
                    box-shadow: none;
                }
            }
            .formulario{
                width: 700px;
                height: auto;
                display: grid;
                padding: 50px;
                
             }
        footer{
            width: 768px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: (3, 1fr);
            font-size: 20px;
           div{
            width: 768px;
            height: auto;
           }
         }
          }