@media (min-width: 400px)
                        {
    header{
        display: grid;
        width: 400px;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: (3, 1fr);
        font-size: 20px;
    }
    li :hover{
        background-color: white;
    }
    .logocoesp{
        width: 150px;
        height: 100px;
    }
    main{
        display: grid;
        width: 400px;
        height: auto;
        p{
            width: 400px;
        }
        h2{
            width: 400px;
        }
    }
    .container{
        width: 400px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: (3, 1fr);
        grid-template-areas: 
        "card"
        "card"
        "card"
        ;
         }
         .card-img-top{
            width: 400px;
         }
         div{
            width: 400px;
         }
        .container-card{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: (4, 1fr);
            grid-template-areas: 
            "card-body"
            "card-body"
            "card-body"
            "card-body"
            ;
        }
        .container-video{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: (3, 1fr);
            grid-template-areas: 
            "video-1"
            "video-2"
            "video-3"
            ;
        }
         .video-1{
            width: 400px;
            height: auto;
            }
            .video-2{
                width: 350px;
                height: auto;
            }
            .video-3{
                width: 350px;
                height: auto;
            }
            .img-consultorio{
                width: 400px;
                height: auto;
                img{
                    width: 400px;
                    height: auto;
                    box-shadow: none;
                }
            }
            .img-instituto{
                width: 400px;
                height: auto;
                img{
                    width: 400px;
                    height: auto;
                    box-shadow: none;
                }
            }
            .formulario{
                width: 400px;
                height: auto;
                display: grid;
                padding: 50px;
                
             }
        footer{
            width: 400px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: (3, 1fr);
            font-size: 20px;
           div{
            width: 400px;
            height: auto;
           }
         }
          }